<launch>
	<node pkg="auto_rescue" type="seg.py" name="seg" ns="pi" output="screen">
	</node>
	<node pkg="auto_rescue" type="junction.py" name="junction" ns="pi" output="screen">
	</node>
	<node pkg="usb_cam" type="usb_cam_node" name="usb_cam" ns="pi" >
	    <param name="focus"  value="0"/>
	</node>
</launch>
