<launch>	
	<node pkg="auto_rescue" type="seg.py" name="seg"></node>
	<node pkg="auto_rescue" type="sign.py" name="sign"></node>
	<include file="$(find jetson_csi_cam)/jetson_csi_cam.launch"/>
	<include file="$(find auto_rescue)/launch/imu.launch"/>
	<include file="$(find auto_rescue)/launch/lidar.launch"/>
	<include file="$(find pid)/launch/pid_code.launch"/>	
</launch>
