<launch>
	<node pkg="auto_rescue" type="seg-night.py" name="seg" ns="pi_amb" output="screen">
	</node>
	<node pkg="auto_rescue" type="junction-night.py" name="junction" ns="pi_amb" output="screen">
	</node>
	<node pkg="usb_cam" type="usb_cam_node" name="usb_cam" ns="pi_amb" >
	    <param name="video_device"  value="/dev/video0"/>
	    <param name="focus"  value="0"/>

	</node>
</launch>
